.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.loader {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .loader:after {
    content: " ";
    display: block;
    width: 74px;
    height: 74px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #FFB519;
    border-color: #FFB519 transparent #FFB519 transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  